@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --------------- Head┬а*/
/* line 11, ../sass/screen.scss */
.header {
  width: 100%;
  height: 120px;
  background-color: #eef3f8;
  background-image: linear-gradient(to right, #d9e4ef, #f1f4f9, #d9e4ef);
}

/* line 24, ../sass/screen.scss */
.header__bagraund {
  margin: auto;
  position: inherit;
  width: 1000px;
  height: 100%;
}

/* line 30, ../sass/screen.scss */
.logo {
  float: left;
  width: 330px;
  text-align: center;
  padding-top: 25px;
}

/* line 36, ../sass/screen.scss */
.header__null {
  float: center;
}

/* line 40, ../sass/screen.scss */
.adres {
  float: right;
  width: 330px;
  text-align: center;
  padding-top: 25px;
}

/* line 48, ../sass/screen.scss */
.adres__telephone__decoration {
  text-decoration: none;
}

/*======================= UP Menu*/
/* line 134, ../sass/screen.scss */
#venegret ul {
  width: 1000px;
  margin-left: auto;
  margin-top: -20px;
  margin-right: auto;
}

/* line 141, ../sass/screen.scss */
#venegret ul li a {
  float: left;
  height: 25px;
  background: #f7f7f7;
  text-align: center;
  padding: 15px 0px 0 35px;
  position: relative;
  margin: 0 2px 0 0;
  font-size: 15px;
  text-decoration: none;
  color: #5c7b98;
  font-family: 'elektra_light_proregular';
}

/* line 155, ../sass/screen.scss */
#venegret ul li a:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #f7f7f7;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 1;
}

/* line 164, ../sass/screen.scss */
#venegret ul li a:before {
  content: "";
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 174, ../sass/screen.scss */
#venegret ul li a:hover {
  background: none repeat scroll 0 0 #dce6f0;
}

/* line 177, ../sass/screen.scss */
#venegret ul li a:hover:after {
  border-left-color: #dce6f0;
}

/* line 181, ../sass/screen.scss */
.text__menu {
  position: inherit;
  top: 0px;
  left: -10px;
}

/* line 187, ../sass/screen.scss */
#venegret ul li a:focus {
  background: #00b9fe;
  color: white;
}

/* line 191, ../sass/screen.scss */
#venegret ul li a:focus:after {
  border-left-color: #00b9fe;
  color: white;
}

/*  ++++++++++====== Drop menu */
/* line 201, ../sass/screen.scss */
#menu_body li ul {
  display: none;
}

/* line 204, ../sass/screen.scss */
#menu_body li:hover ul, #menu_body li.over ul {
  display: block;
}

/* line 207, ../sass/screen.scss */
#menu_body {
  background: #f7f7f7;
  width: 230px;
}

/* line 212, ../sass/screen.scss */
#menu_body a {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

/* line 219, ../sass/screen.scss */
#menu_body ul li {
  list-style-type: none;
  border-bottom: 2px solid #fff;
  height: 150%;
  padding-left: 20px;
  min-height: 30px;
  padding-top: 5px;
  border-bottom: 1px solid #dae1eb;
}

/* line 229, ../sass/screen.scss */
#menu_body ul li a {
  height: 100%;
  color: #5c7b98;
  text-decoration: none;
  font-size: 115%;
  font-family: Georgia;
}

/* line 237, ../sass/screen.scss */
#menu_body ul li ul li:hover {
  height: 100%;
  color: #5c7b98;
  text-decoration: none;
  background: #dce6f0;
}

/* line 244, ../sass/screen.scss */
#menu_body ul li:hover {
  height: 100;
  color: #5c7b98;
  text-decoration: none;
  background: #dce6f0;
}

/* line 252, ../sass/screen.scss */
#menu_body ul li ul li {
  border: 0;
  list-style-type: none;
  color: #5c7b98;
  list-style-position: inside;
  background: #f7f7f7;
  margin-bottom: 5px solid white;
  margin-left: -30px;
  border-bottom: 1px solid #dae1eb;
}

/* line 265, ../sass/screen.scss */
#menu_body ul li ul {
  border-top: 1px solid #fff;
  margin-left: -40px;
  padding-left: 50px;
}

/* line 273, ../sass/screen.scss */
.left__menu {
  display: inline-block;
  margin-right: 20px;
  width: 230px;
  margin-top: 25px;
  vertical-align: top;
  font-size: 15px;
}

/* line 283, ../sass/screen.scss */
#hed__con {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
}

/* line 297, ../sass/screen.scss */
.bread__crumbs {
  width: 265px;
  cursor: pointer;
  display: inline;
  float: left;
}

/* line 304, ../sass/screen.scss */
.bread__crumbs_content {
  width: 100%;
  height: 100%;
  display: inline;
}

/* line 310, ../sass/screen.scss */
.bread__crumbs__text, .bread__crumbs__next, .bread__crumbs__2 {
  position: inherit;
  display: inline;
  color: #5c7b98;
}

/* line 315, ../sass/screen.scss */
.bread__crumbs__text, .bread__crumbs__next, .bread__crumbs__2:focus {
  position: inherit;
  display: inline;
  color: #55d0fe;
}

/* line 320, ../sass/screen.scss */
.bread__crumbs div p {
  font-family: 'elektra_light_proregular';
  float-size: 14px;
}

/* line 326, ../sass/screen.scss */
.style__select {
  display: inline-block;
  width: 80;
  float: center;
  margin-left: 480px;
  font-family: 'elektra_light_proregular';
}

/* line 334, ../sass/screen.scss */
#style {
  margin: auto;
}

/* line 343, ../sass/screen.scss */
.number {
  display: inline-block;
  float: right;
  font-family: 'elektra_light_proregular';
}

/* line 348, ../sass/screen.scss */
.number ul li {
  display: inline-block;
}

/* line 351, ../sass/screen.scss */
.number__products a li {
  color: #00b9fe;
}

/* line 354, ../sass/screen.scss */
.number__products a li:hover {
  text-shadow: 0 0 1em blue;
}

/* line 357, ../sass/screen.scss */
.number__products a li:focus {
  color: #5c7b98;
}

/* line 366, ../sass/screen.scss */
.box__center {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
  font-family: 'elektra_light_proregular';
  font-size: 14px;
}

/* line 376, ../sass/screen.scss */
.content {
  display: inline-block;
  width: 740px;
  margin-top: 25px;
}

/* line 383, ../sass/screen.scss */
.content__product__box {
  position: relative;
  width: 740px;
  height: 160px;
  border: 1px solid #dce3ec;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 393, ../sass/screen.scss */
.content__product__box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 397, ../sass/screen.scss */
.content__product__i__img {
  margin: 30px;
  display: inline-block;
}

/* line 401, ../sass/screen.scss */
.content__product__i__text {
  position: absolute;
  top: 40px;
  width: 450px;
  color: #5c7b98;
  display: inline-block;
}

/* line 409, ../sass/screen.scss */
.content__product__i__img {
  width: 145px;
  height: 110px;
}

/* line 413, ../sass/screen.scss */
.content__product__i__text__model {
  font: bold 110% serif;
  color: #00b9fe;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* line 419, ../sass/screen.scss */
.content__product__i__text__description {
  font-size: 14px;
}

/* line 426, ../sass/screen.scss */
.content__text__tittle {
  font-family: 'elektra_light_probold';
  font-size: bold;
  font-size: 25px;
  color: #5c7b98;
}

/* line 432, ../sass/screen.scss */
.content__text__about {
  font-family: 'elektra_light_proregular';
  font-size: normal;
  font-size: 15px;
  color: #5c7b98;
  margin-top: 15px;
}

/* line 439, ../sass/screen.scss */
.content__text__about__2 {
  font-family: 'elektra_light_proregular';
  font-size: normal;
  font-size: 15px;
  color: #5c7b98;
  margin-top: 15px;
  margin-bottom: 80px;
}

/* line 449, ../sass/screen.scss */
#footer {
  display: inline-block;
  width: 100%;
  height: 240px;
  background: #653e96;
  background-image: url("../images/footer.png");
}

/* line 459, ../sass/screen.scss */
.map {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
  font-family: 'elektra_light_proregular';
  font-size: 15px;
}

/* line 469, ../sass/screen.scss */
.map__logo {
  display: inline-block;
  width: 230px;
  height: 230px;
  vertical-align: top;
}

/* line 476, ../sass/screen.scss */
.map__logo__png {
  margin-top: 90px;
}

/* line 482, ../sass/screen.scss */
.map__link {
  display: inline-block;
  width: 500px;
  height: 230px;
  vertical-align: top;
}

/* line 490, ../sass/screen.scss */
.adress__telephone__number {
  font-family: 'elektra_medium_proregular';
  color: #00b9fe;
  margin-bottom: 5px;
  vertical-align: top;
  font-style: bold;
}

/* line 497, ../sass/screen.scss */
.adres__telephone__number__bold {
  font-family: 'elektra_light_proregular';
  color: #5c7b98;
  font-size: 25pt;
}

/* line 502, ../sass/screen.scss */
.adres__email__text {
  font-family: 'elektra_light_proregular';
}

/* line 505, ../sass/screen.scss */
.adres__email__text:hover {
  color: #613993;
}

/* line 509, ../sass/screen.scss */
.map__link__about, .map__link__catalog, .map__link__adress {
  display: inline-block;
  color: white;
  margin-top: 60px;
}

/* line 514, ../sass/screen.scss */
.map__link__about, .map__link__catalog {
  margin-right: 70px;
}

/* line 518, ../sass/screen.scss */
.map__link__about__h3, .map__link__catalog__h3, .map__link__adress__contacts {
  margin-bottom: 12px;
  font-family: 'elektra_light_probold';
  font-style: bold;
}

/* line 523, ../sass/screen.scss */
.map__link__about ul li, .map__link__catalog ul li, .map__link__adress ul li {
  margin-bottom: 10px;
  text-decoration: underline;
}

/* line 530, ../sass/screen.scss */
.map__social {
  display: inline-block;
  width: 230px;
  height: 100%;
  vertical-align: top;
}

/* line 539, ../sass/screen.scss */
#toTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
}

/* line 546, ../sass/screen.scss */
.map__social__appandroid, .map__social__appandroid__app, .map__social__appandroid__android {
  display: inline-block;
}

/* line 549, ../sass/screen.scss */
.map__social__appandroid {
  margin-left: 40px;
  margin-top: 70px;
}

/* line 553, ../sass/screen.scss */
.map__social__vft, .map__social__vft__vk, .map__social__vft__facebook, .map__social__vft__twitter {
  display: inline-block;
}

/* line 556, ../sass/screen.scss */
.map__social__vft {
  margin-left: 35px;
}
