@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --------------- Head┬а*/
/* line 11, ../sass/screen.scss */
.header {
  width: 100%;
  height: 120px;
  background-color: #eef3f8;
  background-image: linear-gradient(to right, #d9e4ef, #f1f4f9, #d9e4ef);
}

/* line 24, ../sass/screen.scss */
.header__bagraund {
  margin: auto;
  position: inherit;
  width: 1000px;
  height: 100%;
}

/* line 30, ../sass/screen.scss */
.logo {
  float: left;
  width: 330px;
  text-align: center;
  padding-top: 25px;
}

/* line 36, ../sass/screen.scss */
.header__null {
  float: center;
}

/* line 40, ../sass/screen.scss */
.adres {
  float: right;
  width: 330px;
  text-align: center;
  padding-top: 25px;
}

/* line 48, ../sass/screen.scss */
.adres__telephone__decoration {
  text-decoration: none;
}

/*======================= UP Menu*/
/* line 134, ../sass/screen.scss */
#venegret ul {
  width: 1000px;
  margin-left: auto;
  margin-top: -20px;
  margin-right: auto;
}

/* line 141, ../sass/screen.scss */
#venegret ul li a {
  float: left;
  height: 25px;
  background: #f7f7f7;
  text-align: center;
  padding: 15px 0px 0 35px;
  position: relative;
  margin: 0 2px 0 0;
  font-size: 16px;
  text-decoration: none;
  color: #5c7b98;
}

/* line 154, ../sass/screen.scss */
#venegret ul li a:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #f7f7f7;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 1;
}

/* line 163, ../sass/screen.scss */
#venegret ul li a:before {
  content: "";
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 173, ../sass/screen.scss */
#venegret ul li a:hover {
  background: none repeat scroll 0 0 #dce6f0;
}

/* line 176, ../sass/screen.scss */
#venegret ul li a:hover:after {
  border-left-color: #dce6f0;
}

/* line 180, ../sass/screen.scss */
.text__menu {
  position: inherit;
  top: -5px;
  left: -10px;
}

/* line 186, ../sass/screen.scss */
#venegret ul li a:focus {
  background: #00b9fe;
  color: white;
}

/* line 190, ../sass/screen.scss */
#venegret ul li a:focus:after {
  border-left-color: #00b9fe;
  color: white;
}

/*  ++++++++++====== Drop menu */
/* line 200, ../sass/screen.scss */
#menu_body li ul {
  display: none;
}

/* line 203, ../sass/screen.scss */
#menu_body li:hover ul, #menu_body li.over ul {
  display: block;
}

/* line 206, ../sass/screen.scss */
#menu_body {
  background: #f7f7f7;
  width: 230px;
}

/* line 211, ../sass/screen.scss */
#menu_body a {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

/* line 218, ../sass/screen.scss */
#menu_body ul li {
  list-style-type: none;
  border-bottom: 2px solid #fff;
  height: 150%;
  padding-left: 20px;
  min-height: 30px;
  padding-top: 5px;
}

/* line 227, ../sass/screen.scss */
#menu_body ul li a {
  height: 100%;
  color: #5c7b98;
  text-decoration: none;
  font-size: 115%;
  font-family: Georgia;
}

/* line 235, ../sass/screen.scss */
#menu_body ul li a:hover {
  height: 100%;
  color: #5c7b98;
  text-decoration: none;
  background: #dce6f0;
}

/* line 242, ../sass/screen.scss */
#menu_body ul li ul li {
  border: 0;
  list-style-type: none;
  color: #5c7b98;
  list-style-position: inside;
  background: #f7f7f7;
  margin-bottom: 5px solid white;
  margin-left: -30px;
}

/* line 253, ../sass/screen.scss */
#menu_body ul li ul {
  border-top: 1px solid #fff;
  margin-left: -40px;
  padding-left: 50px;
  padding-right: 5px;
}

/* line 260, ../sass/screen.scss */
.left__menu {
  display: inline-block;
  margin-right: 20px;
  width: 230px;
  margin-top: 25px;
  vertical-align: top;
}

/* line 269, ../sass/screen.scss */
#hed__con {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
}

/* line 283, ../sass/screen.scss */
.bread__crumbs {
  width: 265px;
  cursor: pointer;
  display: inline;
  float: left;
}

/* line 290, ../sass/screen.scss */
.bread__crumbs_content {
  width: 100%;
  height: 100%;
  display: inline;
}

/* line 296, ../sass/screen.scss */
.bread__crumbs__text, .bread__crumbs__next, .bread__crumbs__2 {
  position: inherit;
  display: inline;
  color: #5c7b98;
}

/* line 301, ../sass/screen.scss */
.bread__crumbs__text, .bread__crumbs__next, .bread__crumbs__2:focus {
  position: inherit;
  display: inline;
  color: #55d0fe;
}

/* line 309, ../sass/screen.scss */
.style__select {
  display: inline-block;
  width: 80;
  float: center;
  margin-left: 480px;
}

/* line 316, ../sass/screen.scss */
#style {
  margin: auto;
}

/* line 325, ../sass/screen.scss */
.number {
  display: inline-block;
  float: right;
}

/* line 329, ../sass/screen.scss */
.number ul li {
  display: inline-block;
}

/* line 340, ../sass/screen.scss */
.box__center {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
}

/* line 348, ../sass/screen.scss */
.content {
  display: inline-block;
  width: 740px;
  margin-top: 25px;
}

/* line 355, ../sass/screen.scss */
.content__product__box {
  position: relative;
  width: 740px;
  height: 160px;
  border: 1px solid #dce3ec;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 365, ../sass/screen.scss */
.content__product__box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 369, ../sass/screen.scss */
.content__product__i__img {
  margin: 30px;
  display: inline-block;
}

/* line 373, ../sass/screen.scss */
.content__product__i__text {
  position: absolute;
  top: 40px;
  width: 450px;
  color: #5c7b98;
  display: inline-block;
}

/* line 381, ../sass/screen.scss */
.content__product__i__img {
  width: 145px;
  height: 110px;
}

/* line 385, ../sass/screen.scss */
.content__product__i__text__model {
  font: bold 110% serif;
  color: #00b9fe;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* line 396, ../sass/screen.scss */
.content__text__tittle {
  color: #5c7b98;
}

/* line 402, ../sass/screen.scss */
#footer {
  display: inline-block;
  width: 100%;
  height: 240px;
  background: #653e96;
}

/* line 409, ../sass/screen.scss */
.map {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
}

/* line 417, ../sass/screen.scss */
.map__logo {
  display: inline-block;
  width: 230px;
  height: 230px;
  border: 1px solid red;
  vertical-align: top;
}

/* line 424, ../sass/screen.scss */
.map__logo__png {
  margin-top: 90px;
}

/* line 430, ../sass/screen.scss */
.map__link {
  display: inline-block;
  width: 500px;
  height: 230px;
  vertical-align: top;
  border: 1px solid black;
}

/* line 438, ../sass/screen.scss */
.map__link__about, .map__link__catalog, .map__link__adress {
  display: inline-block;
  color: white;
  margin-top: 60px;
}

/* line 443, ../sass/screen.scss */
.map__link__about, .map__link__catalog {
  margin-right: 70px;
}

/* line 447, ../sass/screen.scss */
.map__link__about__h3 {
  margin-bottom: 12px;
}

/* line 450, ../sass/screen.scss */
.map__link__about ul li {
  margin-bottom: 10px;
  text-decoration: underline;
}

/* line 457, ../sass/screen.scss */
.map__social {
  display: inline-block;
  width: 230px;
  height: 100%;
  vertical-align: top;
  border: 1px solid green;
}

/* line 464, ../sass/screen.scss */
.all__contener {
  border: 1px solid red;
}
