/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

::-moz-selection{
    background-color:#ffee38;
    color:#ed5750
}

::selection{
    background-color:#ffee38;
    color:#191919
}
/* --------------- Head */

.header{
  width: 100%;
  height: 120px;
  // background: #ebf1f7;
  background-color: #eef3f8;
  background-image:
    linear-gradient(
      to right,
      #d9e4ef,
      #f1f4f9,
      #d9e4ef
      );
}
.header__bagraund{
  margin: auto;
  position: inherit;
  width: 1000px;
  height: 100%;
}
.logo{
  float: left;
  width: 330px;
  text-align: center;
  padding-top: 25px;
}
.header__null{
  float: center;

}
.adres{
float: right;
width: 330px;

text-align: center;
padding-top: 25px;

}
.adres__telephone__decoration{
  text-decoration: none;
}

/*======================= UP Menu*/
 ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }

 #breadcrumbs-two{
      /* Clear floats */
      overflow: hidden;
      width: 100%;
      top: 100px;
    width: 1000px;
	margin-left: auto;
	margin-top: -15px;
	margin-right: auto;
    }

    #breadcrumbs-two li{
      float: left;
      margin: 0 .01em 0 1em;
    }

    #breadcrumbs-two a{
      background: #f7f7f7;
      padding: .7em 1em;
      float: left;
      text-decoration: none;
      color: #444;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      position: relative;
      font-size: 13px;
      font-family: 'elektra_medium_proregular';
      color:#5c7b98;
    }

    #breadcrumbs-two a:hover{
      background: #dce6f0;
    }


    #breadcrumbs-two a::before{
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.2em;
      border-width: 1.2em 0 1.23em 1em;
      border-style: solid;
      border-color: #f7f7f7 #f7f7f7 #f7f7f7 transparent;
      left: -11px;

    }

    #breadcrumbs-two a:hover::before{
      border-color: #dce6f0 #dce6f0 #dce6f0 transparent;
    }

    #breadcrumbs-two a::after{
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.3em;
      border-top: 1.3em solid transparent;
      border-bottom: 1.3em solid transparent;
      border-left: 1em solid #f7f7f7;
      right: -1em;

    }

    #breadcrumbs-two a:hover::after{
      border-left-color: #dce6f0;
    }

    #breadcrumbs-two .current,
    #breadcrumbs-two .current:hover{
      font-weight: bold;
      background: none;
    }

    #breadcrumbs-two .current::after,
    #breadcrumbs-two .current::before{
      content: normal;
    }




// #venegret ul {
// 	width: 1000px;
// 	margin-left: auto;
// 	margin-top: -20px;
// 	margin-right: auto;

// }
// #venegret ul li a {

//     float: left;

// 	height: 25px;
// 	background: #f7f7f7;
// 	text-align: center;
// 	padding: 15px 0px 0 35px;
// 	position: relative;
// 	margin: 0 2px 0 0;
// 	font-size: 15px;
// 	text-decoration: none;
//     color: #5c7b98;
//     font-family: 'elektra_light_proregular';
// }
// #venegret ul li a:after {
//     content: "";
//     border-top: 20px solid transparent;
//     border-bottom: 20px solid transparent;
//     border-left: 20px solid #f7f7f7;
//     position: absolute; right: -20px; top: 0;
//     z-index: 1;
// }

// #venegret ul li a:before{
//     content: "";
//     border-bottom: 20px solid transparent;
//     border-left: 20px solid white;
//     border-top: 20px solid transparent;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// #venegret ul li a:hover {
//     background: none repeat scroll 0 0 #dce6f0;
// }
// #venegret ul li a:hover:after {
//     border-left-color: #dce6f0;
// }

// .text__menu{
//     position: inherit;
//     top: 0px;
//     left: -10px;
// }

// #venegret ul li a:focus  {
//     background: #00b9fe;
//     color: white;
// }
// #venegret ul li a:focus:after  {
//     border-left-color: #00b9fe;
//     color: white;
// }
// figura
// .figura{
// 	border: 1px solid red;
// }
// .figura__img{
// 	position: inherit;
// 	top: 100px;
// 	margin-left: -990px;
// 	// left: -570px;
// 	border: 5px solid green;
// 	z-index: 100;
// }





    /*  ++++++++++====== Drop menu */
#menu_body li ul {
	display: none;
}
// #menu_body li:hover ul, #menu_body li.over ul {
// 	display: block;
// 	}
 #menu_body {
    background:#f7f7f7;
    width: 230px;

}
#menu_body a {
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#menu_body ul li {
    list-style-type: none;
    border-bottom: 2px solid #fff;
    height: 150%;
    padding-left: 20px;
    min-height: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #dae1eb;
}

#menu_body ul li a {
	height: 100%;
    color: #5c7b98;
    text-decoration: none;
	font-size: 115%;
	font-family: Georgia;

}

#menu_body ul li ul li:hover {
	height: 100%;
    color: #5c7b98;
    text-decoration: none;
	background:#dce6f0;

}

#menu_body ul li:hover {
	height: 100;
    color: #5c7b98;
    text-decoration: none;
	background:#dce6f0;
}

#menu_body ul li ul li {
	border: 0;
    list-style-type: none;
    color: #5c7b98;
    list-style-position: inside;
	background:#f7f7f7;
	margin-bottom: 5px solid white;
	margin-left: -30px;
	border-bottom: 1px solid #dae1eb;

}


#menu_body ul li ul{
    border-top: 1px solid #fff;
    margin-left: -40px;
    padding-left: 50px;
    // padding-right: 5px;

}

.left__menu{
	display: inline-block;
	margin-right: 20px;
	width: 230px;
	margin-top: 25px;
	vertical-align: top;
	font-size: 15px;
	font-family: 'elektra_medium_proregular';

}
// hed-con
#hed__con{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 100%;
	border: 1px solid red;
	z-index: 10;
	
}





// bread__crumbs

/*---------Sidebar----------*/
.toolbar {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1;
  margin-bottom: 16px;
}
.toolbar:before,
.toolbar:after {
  content: "";
  display: table;
}
.toolbar:after {
  clear: both;
}
.toolbar__left {
  float: left;
  width: 715px;
}
.breadcrumbs__item {
  display: inline;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.breadcrumbs__item:before {
  content: ">";
  font-size: 12px;
  vertical-align: middle;
  color: #5c7b98;
}
.breadcrumbs__item:first-child:before {
  content: none;
}
.breadcrumbs__item:last-child .breadcrumbs__link {
  color: #5c7b98;
  cursor: default;
  text-decoration: none;
}
.breadcrumbs__link {
  display: inline;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #00b9fe;
  text-decoration: underline;
}
.toolbar__right {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1;
  width: 285px;
  float: right;
  padding-left: 7px;
}
.toolbar__right:before,
.toolbar__right:after {
  content: "";
  display: table;
}
.toolbar__right:after {
  clear: both;
}
.select-outer {
  display: inline;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  float: left;
}
.pagination {
  display: inline;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  float: right;
  padding-top: 5px;
}
.pagination__item {
  display: inline;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin-left: 5px;
}
.pagination__item:first-child {
  margin-left: 0;
}
.pagination__link {
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #00b9fe;
  text-decoration: underline;
}
.pagination__link.active {
  color: #5c7b98;
  text-decoration: none;
}
.slct {
  position: relative;
  display: block;
  border: 1px solid #dae1eb;
  background-color: #fff;
  width: 133px;
  height: 25px;
  padding: 3px 0 0 6px;
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #5c7b98;

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}



// Content
.box__center{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 100%;
	font-family: 'elektra_light_proregular';
	font-size: 14px;

}

.content{
	display: inline-block;
	width: 740px;
	margin-top: 25px;

}

.content__product__box{
	position: relative;
	width: 740px;
	height: 160px;
	border: 1px solid #dce3ec;
	display: inline-block;
	margin-bottom: 20px;

}

.content__product__box:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content__product__i__img{
	margin: 30px;
	display: inline-block;
}
.content__product__i__text{
	position: absolute;
	top: 40px;
	width: 450px;
	color: #5c7b98;
	display: inline-block;

}
.content__product__i__img{
	width: 145px;
	height: 110px;
}
.content__product__i__text__model{
	font: bold 110% serif;
	color: #00b9fe;
	margin-bottom: 20px;
	text-decoration: underline;
}
.content__product__i__text__description{
	font-size: 14px;
}



// text about
.content__text__tittle{
	font-family: 'elektra_light_probold';
	font-size: bold;
	font-size: 25px;
	color: #5c7b98;
}
.content__text__about{
	font-family: 'elektra_light_proregular';
	font-size: normal;
	font-size: 15px;
	color: #5c7b98;
	margin-top: 15px;
}
.content__text__about__2{
	font-family: 'elektra_light_proregular';
	font-size: normal;
	font-size: 15px;
	color: #5c7b98;
	margin-top: 15px;
	margin-bottom: 80px;
}

// footer
#footer{
	display: inline-block;
	width: 100%;
	height: 240px;
	background: #653e96;
	background-image: url("../images/footer.png");
}



.map{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 100%;
	font-family: 'elektra_light_proregular';
	font-size: 15px;

}

.map__logo{
	display: inline-block;
	width: 230px;
	height: 230px;

	vertical-align: top;
}
.map__logo__png{
	margin-top: 90px;



}
.map__link{
	display: inline-block;
	width: 500px;
	height: 230px;
	vertical-align: top;


}
.adress__telephone__number{
	font-family: 'elektra_medium_proregular';
	color: #00b9fe;
	margin-bottom: 5px;
	vertical-align: top;
	font-style: bold;
}
.adres__telephone__number__bold{
	font-family: 'elektra_light_proregular';
	color: #5c7b98;
	font-size: 25pt;
}
.adres__email__text{
	font-family: 'elektra_light_proregular';
}
.adres__email__text:hover{
	color: #613993;
}

.map__link__about, .map__link__catalog, .map__link__adress{
	display: inline-block;
	color: white;
	margin-top: 60px;
}
.map__link__about, .map__link__catalog{
	margin-right: 70px;
}

.map__link__about__h3, .map__link__catalog__h3, .map__link__adress__contacts{
	margin-bottom: 12px;
	font-family: 'elektra_light_probold';
	font-style: bold;
}
.map__link__about ul li, .map__link__catalog ul li, .map__link__adress ul li{
	margin-bottom: 10px;
	text-decoration: underline;
}



.map__social{
	display: inline-block;
	width: 230px;
	height: 100%;
	vertical-align: top;

}

//UP Button
#toTop{
	position: fixed;
	right: 40px;
	bottom: 240px;
	display:none;
}
// Social
.map__social__appandroid, .map__social__appandroid__app, .map__social__appandroid__android{
	display: inline-block;
}
.map__social__appandroid{
	margin-left: 40px;
	margin-top: 70px;
}
.map__social__vft, .map__social__vft__vk, .map__social__vft__facebook, .map__social__vft__twitter{
	display: inline-block;
}
.map__social__vft{
	margin-left: 35px;
}

//
.text__delet{
	position: absolute;
	left: -9999px
}
//
.wraper{
	min-width: 1100px;
}


/*Вид каталога линиями*/
.catalog__item {
  margin-bottom: 20px;
}
.catalog__link {
  display: block;
  padding: 30px 25px 15px 0;
  min-height: 160px;
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1;
  border-top: 2px solid #dce3ec;
  border-right: 1px solid #dce3ec;
  border-bottom: 1px solid #dce3ec;
  border-left: 1px solid #dce3ec;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.catalog__link:before,
.catalog__link:after {
  content: "";
  display: table;
}
.catalog__link:after {
  clear: both;
}
.catalog__link:hover {
  -webkit-box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.15);
}
.catalog__item-img {
  display: block;
  position: relative;
  width: 193px;
  float: left;
}
.catalog__item-img img {
  display: block;
  margin: 0 auto;
  max-height: 110px;
  max-width: 140px;
}
.catalog__item-info {
  width: 520px;
  float: left;
}
.catalog__item-info__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #00b9fe;
  font-weight: normal;
  text-decoration: underline;
}
.catalog__item-info__description {
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #5c7b98;
}
.catalog__list-option {
  display: none;
}
.toolbar__bottom {
  // *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  // zoom: 1;
  // display: none;
}
.toolbar__bottom:before,
.toolbar__bottom:after {
  content: "";
  display: table;
}
.toolbar__bottom:after {
  clear: both;
}
/*Вид каталога линиями END*/
/*Вид каталога сеткой*/
